.vscode/settings.json
DataProcessingService/.mvn/wrapper/maven-wrapper.jar
DataProcessingService/.mvn/wrapper/maven-wrapper.properties
DataProcessingService/.mvn/wrapper/MavenWrapperDownloader.java
DataProcessingService/.settings/org.eclipse.core.resources.prefs
DataProcessingService/.settings/org.eclipse.jdt.apt.core.prefs
DataProcessingService/.settings/org.eclipse.jdt.core.prefs
DataProcessingService/.settings/org.eclipse.m2e.core.prefs
DataProcessingService/target
DataProcessingService/.classpath
dDataProcessingService/.DS_Store
DataProcessingService/.project
.DS_Store
VeryLargeDataStore/
VeryLargeDataStore/.mvn/wrapper/maven-wrapper.properties
VeryLargeDataStore/.mvn/wrapper/MavenWrapperDownloader.java
VeryLargeJavaService/
VeryLargeJavaService/.mvn/wrapper/maven-wrapper.properties
VeryLargeJavaService/.mvn/wrapper/MavenWrapperDownloader.java
VeryLargeDataStore/
