.vscode/settings.json
data-processing-service-java/.mvn/wrapper/maven-wrapper.jar
data-processing-service-java/.mvn/wrapper/maven-wrapper.properties
data-processing-service-java/.mvn/wrapper/MavenWrapperDownloader.java
data-processing-service-java/.settings/org.eclipse.core.resources.prefs
data-processing-service-java/.settings/org.eclipse.jdt.apt.core.prefs
data-processing-service-java/.settings/org.eclipse.jdt.core.prefs
data-processing-service-java/.settings/org.eclipse.m2e.core.prefs
data-processing-service-java/target/classes/application.properties
data-processing-service-java/target/classes/io/getambasador/dataprocessingservicejava/DataProcessingServiceJavaApplication.class
data-processing-service-java/target/classes/io/getambasador/dataprocessingservicejava/dto/EdgyMerch.class
data-processing-service-java/target/classes/io/getambasador/dataprocessingservicejava/rest/DataProcessingController.class
data-processing-service-java/target/classes/io/getambasador/dataprocessingservicejava/rest/DataStoreClient.class
data-processing-service-java/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
data-processing-service-java/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
data-processing-service-java/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
data-processing-service-java/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
data-processing-service-java/target/test-classes/io/getambasador/dataprocessingservicejava/DataProcessingServiceJavaApplicationTests.class
data-processing-service-java/.classpath
data-processing-service-java/.DS_Store
data-processing-service-java/.project
.DS_Store
VeryLargeDataStore/.mvn/wrapper/maven-wrapper.jar
VeryLargeDataStore/.mvn/wrapper/maven-wrapper.properties
VeryLargeDataStore/.mvn/wrapper/MavenWrapperDownloader.java
